@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 238, 238, 238;
  --background-start-rgb: 255, 89, 123;
  --background-end-rgb: 247, 116, 143;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-size: 100vw 100vh;
}
